.row {
  margin-left: 20px;
  color: white;
}
.row__posters {
  display: flex;
  overflow-y: hidden; /*these 2 will allow the row to scroll in x direction and everything in y  will be static*/
  overflow-x: scroll;
  padding: 20px;
}
/*This is way to tell all the browser to remove scroll bar but still keep the functionality of scrolling as scroll bar looks ugly*/
.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 120px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row__poster:hover {
  /*This will grow our poster means that particular poster becomes litter bigger
  and transition that we have applies above will ensure that it transforms to bigger with delay and not immediately*/
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}
.row__posterLarge:hover {
  transform: scale(1.09);
}
